MODE=development

# What Database is in use, compatible with Postgres and MariaDB
# mariadb for MariaDB
# postgres for PostgreSQL
DBTYPE='db-type'
DBNAME='db_name'
DBPW='db_password'
DBUSER='db_user'
DBURL='dburl'
HOST_NAME='HOST_NAME'

SECRETKEY='your_secret_key'